rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // unused
		match /users/{userId} {
      allow read: if request.auth.uid;
    }

    match /users/{userId}/notes/{noteId} {
      // only the current user can read their own
      allow read: if request.auth.uid == userId;
      allow create: if request.auth.uid == userId
      && request.resource.data.size() == 2
      && request.resource.data.createdAt == request.time
      && request.resource.data.content is string
      && request.resource.data.content.size() > 0
      && request.resource.data.content.size() <= 512;
      allow delete: if false;
    }

    match /count/{day} {
    	allow read;
      // only allow writing { when: now timestamp; n: int }
      allow write: if request.resource.data.size() == 2 && request.resource.data.when is timestamp && request.resource.data.n is int;
    }

    // forbid everything else
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
