:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: dark light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --links: #00dc82;
  --code: currentColor;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: #4de7a8;
  text-decoration: inherit;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.error-message {
  background-color: var(--background-alt);
  padding: 0.2em 1em;
  padding-left: 1.5em;
  margin: 1em 0;
  border-radius: 1em;

  position: relative;
}

.error-message::after {
  content: '';
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  background-color: crimson;
  width: 10px;
  height: 100%;
  border-radius: 1em 0 0 1em;
}
